/* 
    Created on : 24 may 2024, 19:22:29
    Author     : bruno
*/

.mainFxmlClass{
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #6C3483, #58D68D);
}

#AGI{
    -fx-border: 1px solid;
    -fx-background-color: #6C3483;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-background-radius: 10px;
}

#VGI{
    -fx-border: 1px solid;
    -fx-background-color: #6C3483;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-background-radius: 10px;
}